
{%extends 'registration/base.html'%}

{% load bootstrap4 %}
{% block content %}
{% load static%}

{{block.super}}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/awwards.css' %}">
{% endblock %}



<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <title>New Profile</title>
  {{form.media}}

<div style="background-color:black;color:azure;margin-top: 3cm;width: 70%;" class="card mx-auto" style="max-width:30rem; margin-top:3cm;">
  <form  action="{%url 'profile_edit'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
</div>
   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% bootstrap_javascript %}
{% endblock %}
{% endblock %}